{% if section.settings.header_tab %}
  <div class="header-tab">
    <div class="tab-container tab-container--right">
      {% if section.settings.header_tab_link != blank %}
        <a href="{{ section.settings.header_tab_link }}" class="nav-addition amazon-link" target="_blank">
          <cite><strong>{{ section.settings.header_tab_text }}</strong></cite>
          {{ section.settings.header_tab_image | image_url: width: 200 | image_tag: widths: '180, 360, 540, 720' }}
        </a>
      {% else %}
        {{ section.settings.header_tab_image | image_url: width: 200 | image_tag: widths: '180, 360, 540, 720' }}
      {% endif %}
    </div>
  </div>
{% endif %}
