<div class="page-width header-tab">
    <div class="tab-container">
        <a href="https://www.amazon.com/s?k=vida+fuel&ref=nb_sb_noss" class="nav-addition" target="_blank">
            <cite><strong>We're now on</strong></cite>
            <img src="https://cdn.shopify.com/s/files/1/0922/1906/files/Amazon.com-Logo-sm.svg?9396" alt="amazon logo">
        </a>
    </div>
</div>
