
{% if section.settings.header_tab %}
<div class="header-tab">
    <div class="tab-container tab-container--right">
        <a href="{{ section.settings.header_tab_link }}" class="nav-addition amazon-link" target="_blank">
            <cite><strong>{{ section.settings.header_tab_text }}</strong></cite>
            <img src="https://cdn.shopify.com/s/files/1/0922/1906/files/Amazon.com-Logo-sm.svg?9396" alt="amazon logo">
        </a>
    </div>
</div>
{% endif %}




