<style>
  
  body.template-index .main-content {
    padding-top:0; 
  }
  
  /* BANNER 1 */
  
  #homepage_banner {
    min-height:650px;
    padding:90px 50px;
    background:url({{ 'VF_WebsiteBanner_Protein_Blank.jpg' | asset_url }}) center center no-repeat;
    background-size:cover;
  }
  #homepage_banner .text {
    display:inline-block;
    margin-left:50%;
  }
  #homepage_banner .text .title {
    margin-bottom:30px;
    font-size:120px;
    letter-spacing:-0.025em;
    line-height:1;
    color:#000000;
  }
  #homepage_banner .text .subtitle {
    font-size:60px;
    line-height:1;
    color:#7dcdc8;
  }
  
  @media screen and (max-width: 1024px) {
    #homepage_banner { min-height:280px; padding:40px 20px; }
    #homepage_banner .text { margin-left:45%; }
    #homepage_banner .text .title { margin-bottom:10px; font-size:38px; }
    #homepage_banner .text .subtitle { font-size:24px; }
  }
  
  /* BANNER 2 */
  
  #shopify-section-1554835321692 {
   	padding-top:0; 
  }
  
  /* BANNER 3 */
  
  #shopify-section-1554418849590 .page-width {
    max-width:1440px;
  }
  #shopify-section-1554418849590 .grid--flush-bottom { 
    overflow:visible;
  }
  #shopify-section-1554418849590 h3 {
    font-size:40px; 
  }
  #TextColumnImageWrapper-1554418849590-1 {
   	max-width:none!important;
    max-height:none!important;
  }
  #TextColumnImageWrapper-1554418849590-1 div {
   	padding-top:0!important;
  }
  #TextColumnImage-1554418849590-1 {
    width:100%;
   	max-width:none!important;
    max-height:none!important;
    position:relative;
    top:auto;
  }
  
  @media screen and (max-width: 1024px) {
    #shopify-section-1554418849590 h3 { font-size:30px; }
  }

  /* BANNER 4 */
  
  #shopify-section-1534160018241 .page-width {
   	max-width:1440px; 
  }
  
  /* BANNERS 5 - "how we compare" and "what customers are saying" */
  #shopify-section-1554903576664 h2.supertitle {
    font-size:3em;
    text-transform:none!important; 
  }
  #shopify-section-1554903576664 h2,
  #shopify-section-1554446454586 h2 {
    font-size:2em;
  }
  
  @media screen and (max-width: 1024px) {
    #shopify-section-1554903576664 h2.supertitle { font-size:2.2em; }
    #shopify-section-1554903576664 h2,
    #shopify-section-1554446454586 h2 { font-size:1.6em; }
  }
  
  /* BANNER 6 */

  
</style>

<div id="homepage_banner">
  <div class="text trade_gothic">
    <div class="title">
      Empowering<br />
      Nutrition.
    </div>
    <div class="subtitle">
      Dietitian developed<br />
      to keep you strong<br />
      and healthy
    </div>
  </div>
</div>

{{ content_for_index }}
