{{ 'component-reviews.css' | asset_url | stylesheet_tag }}

{% if section.settings.custom_background %}
  {% render 'section-backgrounds' %}
  <div class="review-section">
    {{ section.settings.custom_liquid }}
  </div>
{% else %}
  {{ section.settings.custom_liquid }}
{% endif %}

{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "checkbox",
      "id": "custom_background",
      "label": "Custom background",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
