/* BOLD.CSS
This File is used for Bold Custom App CSS only***
To include this file in your theme, add the following before the closing </head> tag in theme.liquid
{{ 'bold.css' | asset_url | stylesheet_tag }}
 */


.bold_option_dropdown, 
.bold_option_textbox {
    column-count: 2;
}

.bold_option_dropdown .bold_option_title,
.bold_option_textbox .bold_option_title {
    display: block;
}
.bold_option_dropdown .bold_option_element {
    margin-left: 0px;
}
.bold_option_element select {
    width: 210px;
    min-height: auto !important;
}
.bold_option label {
    display: inline;
}
.bold_option_element select {
    width: 210px;
    min-height: auto !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bold_hidden {
  display: none !important; 
}


/* Debut mobile FIX */ 
@media only screen and (max-width: 749px)
  {
.cart .cart__update-wrapper {
    display: inline-block !important;
   
}
  }