body { background-color: #fff; margin: 0; padding: 0; overflow-x: hidden; }
.container { max-width: 1200px; margin: 0 auto; position: relative; z-index: 9; padding: 0 30px;}
.topHeader { background-color: #7ccbc8; text-align: center; padding-top: 20px; }
.topHeader::before { 
    content:''; 
    top:0; 
    left:0; 
    position: absolute; 
    width: 100%; 
    height: 600px; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: bottom;
}
.topContent { text-align: left; padding: 0; height: 480px; }
.leftBlock { max-width: 450px;}
.topContent .title { font-family: 'Oswald', sans-serif; font-size: 48px; font-weight: normal; line-height: 56px; text-transform: uppercase; }
.topContent .subTitle { font-family: 'Montserrat', sans-serif; font-size: 28px; font-weight: normal; color: #fff; letter-spacing: normal; }
.topContent .notice { font-family: 'Montserrat', sans-serif;  font-size: 18px; color: #000; text-align: left; position: absolute; bottom: 10px; left: 60px; }
.topContent::before { 
    content: ''; 
    height: 699px; 
    z-index: -1;
    width: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: absolute;
    top: 40px;
    left: 30px;
    background-size: contain;
}
.formBlock { width: 344px; background-color: #fff; position: fixed; top: 10%; right: 50px; box-shadow: 0px 0px 30px #00000040; display: none; }
/* */
.secondBlock { padding: 30px 0 50px 0;}
.secondTitle {  text-align: left; font-size: 42px; line-height: 52px; font-family: 'Oswald', sans-serif; letter-spacing: -0.42px;color: #000000;}
.imagesRow { display: inline-block; }
.support-image { padding: 13px; box-shadow: 0 0 10px 0 rgba(123, 204, 200, 0.2); display: inline-block; border-radius: 100%; margin-top: 20px; line-height: 0px;}
.support-image img { display: inline-block; max-width: 100%; width: 44px; }
.imgsBlock { float: left; width: 121px; text-align: center; margin-right:21px;}
.imgsBlock>img { width: 107px;}
.imgsText { font-family: 'Oswald', sans-serif; font-size: 16px; line-height: 24px; letter-spacing: 0px; }
/* */
.thirdBlock { position: relative; padding: 30px 0;}
.thirdBlock::before { 
    content: ''; 
    top:0; 
    left:0; 
    position: absolute; 
    width: 100%; 
    height: 400px; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: top;
}
.formClose{
    position: absolute;
    top: 15px;
    right: 15px;
    display: inline-block;
    width: auto !important;
    z-index: 1;
}
.formClose img{
    width: 20px;
}
.percBlock { float: left; width: 314px; text-align: center; }
.percImg2 { padding-top: 9px; }
.percImg2>img { padding-bottom: 12px;}
.percText { font-family: 'Montserrat', sans-serif; font-size: 22px; line-height: 32px; font-weight: bold;  }
.thirdBottom { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 16px; position: absolute; left:50px; bottom:-30px }
.precRows { display: inline-block; }
/* */
.fourthBlock { padding-top: 30px;}
.fourthTitle { font-family: 'Oswald', sans-serif; font-size: 42px; line-height: 64px; }
.cupBlock { padding-top: 20px; display: inline-block;}
.cupBlock .video{
    width: 60%;
    position: relative;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 0px;
}
.cupBlock .video video{
    margin:0px;
    padding:0px;
}
.cupLeft { float: left; }
.cupText { margin-left: 50px; margin-top: 50px; }
.cupText p.title{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding-left: 35px;
    margin-top: 0px;
    margin-bottom: 5px;
    position: relative;
}
.cupText p.title::before{
    content: '';
    background-color: #58C6BD;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    display: inline-block;
    top: 8px;
    left: 0px;
    position: absolute;
}
.cupText p.subtitle{
    color: rgba(0,0,0, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    padding-left: 35px;
    margin-top: 0px;
    margin-bottom: 25px;
}
/* */
.fifthBlock { background-color: #BFEFEA; min-height: 400px;}
.formTitle { font-family: 'Oswald', sans-serif; font-size: 32px; line-height: 32px; text-align: center; position: relative; top: 14px; padding-top: 10px; padding-bottom: 15px; }
.formTitleSec { font-family: 'Oswald', sans-serif; font-size: 20px; line-height: 26px; text-align: center; margin-top: 5px;margin-bottom:10px;}
.inputBlock { max-width: 85%; margin: 0 auto;}
.formInputs input { 
    width: 95%; 
    height: 35px; 
    margin-bottom: 12px; 
    border: 1px solid #848484; 
    border-radius: 5px; 
    padding-left: 5%; 
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px; 
}
.formInputs input.error { border: 1px solid red; }
.formInputs input::placeholder { font-style: italic; font-family: 'Montserrat', sans-serif; font-size: 14px; line-height: 22px; color: #848484; }
.formReq { font-style: italic; font-family: 'Montserrat', sans-serif; font-size: 12px; line-height: 22px; color: #56A8A1; text-align: right; max-width: 85%;margin: 0 auto;}
.policy { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 16px; text-align: left; }
.policy a { color: #56A8A1; text-decoration: underline; }
.frmButton { 
    text-align: center; 
    letter-spacing: 0.18px; 
    color: #FFFFFF; 
    text-transform: uppercase; 
    font-family: 'Oswald', sans-serif; 
    font-size: 18px; 
    line-height: 40px;
    background-color: #0D6AFF;
    box-shadow: 0px 0px 12px #09419B7C;
    border-radius: 1px;
    border: none;
    padding: 0 20px;
    margin: 20px 0;
    cursor: pointer;
}
.frmButton:hover { background-color: #0456D9; } 
.formError { font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 16px; text-align: center; padding: 10px 20px 0 20px; color: red; display: none; }
/* */
.splide { padding-top: 50px;}
.slideText { font-family: 'Montserrat', sans-serif; font-size: 22px; line-height: 34px; color: #000; text-align: center; letter-spacing: -0.22px; font-weight: normal;}
.slideName { font-family: 'Montserrat', sans-serif; font-size: 16px; line-height: 32px; font-weight: normal; text-align: center; padding-bottom: 40px; padding-top: 20px; }
.slideName strong { font-weight: bold; }
.slideStars { text-align: center; margin-bottom: 30px; }
.leftWide { max-width: 650px;}
/* */
.footerBlock { background: #525252 0% 0% no-repeat padding-box; text-align: center; }
.footerText { font-family: 'Montserrat', sans-serif; font-size: 14px; line-height: 30px; color: #33D1C3; }
/* */
.thankYou .topHeader { height: 545px;}
.thankTitle { font-family: 'Oswald', sans-serif; font-size: 58px; line-height: 66px; text-align: center; padding-top: 120px; padding-bottom: 30px; }
.thankSubtitle { font-family: 'Montserrat', sans-serif; font-size: 28px; line-height: 38px; color: #fff; }
/* */
.row { display: inline-block; width: 100%; padding-top: 30px;}
.whiteBlock { padding: 50px 0; }
.whiteTitle { font-family: 'Oswald', sans-serif; font-size: 42px; line-height: 52px; text-align: center; color: #56A8A1; }
.halfBlock { float: left; width: 50%; text-align: center;}
.halfTitle { font-family: 'Oswald', sans-serif; font-size: 20px; line-height: 52px; text-align: center; color: #000; }
a.frmButton { text-decoration: none; display: inline-block; margin: 0 auto;}
.centerText { text-align: center;}
/* */
.mobileOnly { display: none;}
.hasError input:invalid {
    border: 1px solid red
}
input:vvalid {
    border: 1px solid black
}
/* Mobile breakpoint */
@media only screen and (max-width: 1200px) {
    .desktopOnly { display: none;}
    .leftBlock { max-width: 100%; text-align: center; }
    .topContent .title { font-size: 30px; line-height: 38px; }
    .topContent .subTitle { font-size: 20px; line-height: 26px; letter-spacing: normal; }
    .secondBlock { padding-bottom: 20px;}
    .secondBlock .notice { font-family: 'Montserrat', sans-serif;  font-size: 14px; line-height: 20px; color: #000; text-align: center; display: block; padding-bottom: 30px;  }
    .topContent::before { display: none; }
    .mobileOnly { display: inline-block; width: 100%; }
    img.mobileOnly { max-width: 280px; }
    .secondTitle { text-align: center; font-size: 28px; line-height: 34px; }
    .thirdBlock { background-color: #CADB2D; padding-bottom: 30px;}
    .thirdBlock::before { background: none; }
    .percText { font-size: 18px; line-height: 28px;}
    .thirdBottom { font-size: 14px; line-height: 20px; padding-top: 20px; position: relative; left: 0; bottom: 0;}
    .fourthBlock { text-align: center;}
    .fourthTitle { text-align: center; display: block; font-size: 28px; line-height: 32px;}
    .cupLeft { float: none; width: 100%; text-align: center;}
    .cupText { margin: 0; padding-top: 40px;}
    .cupText p.title{ text-align: center; padding-left: 0;}
    .cupText p.title::before{ display: none; }
    .cupText p.subtitle{ text-align: center; padding-left: 0;}
    .cupBlock .video{width: 80%;}
    /*.cupText ul { margin: 0; padding: 0; }
    .cupText li { font-size: 20px; line-height: 28px; padding: 15px 0;}
    .cupText li::before { left: 40%; top: 0;}*/
    .cupImg.cupLeft { text-align: center;}
    .imgsBlock { float: none; padding-bottom: 40px;}
    #splideQuick { max-width: 250px; margin: 0 auto; text-align: center;}
    .topHeader { position: relative; z-index: 999;}
    #formBlock { z-index: 9999; position: fixed; top: 0; left: 0; width: 100%; height: 100%;}
    .fixedButton { position: fixed; width: 100%; left: 0; bottom: 0px; z-index: 99999; text-align: center;}
    .fixedButton .frmButton { box-shadow: none; display: block; width: 100%; line-height: 60px; margin: 0; }
    .secondBlock>.container,
    .thirdBlock>.container { text-align: center;}
}
@media only screen and (max-width: 720px) {
    .cupBlock .video{width: 100%;}
    .percBlock{ float:none;width: 100%;}
    .percBlock img{ width: 100%; max-width: 209px;}
}
.splide__container{box-sizing:border-box;position:relative}.splide__list{-webkit-backface-visibility:hidden;backface-visibility:hidden;display:-ms-flexbox;display:flex;height:100%;margin:0!important;padding:0!important;transform-style:preserve-3d}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide__progress__bar{width:0}.splide{outline:none;position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0;outline:none;position:relative}.splide__slide img{vertical-align:bottom}.splide__slider{position:relative}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__track{overflow:hidden;position:relative;z-index:0}@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide--draggable>.splide__slider>.splide__track,.splide--draggable>.splide__track{-webkit-user-select:none;-ms-user-select:none;user-select:none}.splide--fade>.splide__slider>.splide__track>.splide__list,.splide--fade>.splide__track>.splide__list{display:block}.splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide,.splide--fade>.splide__track>.splide__list>.splide__slide{left:0;opacity:0;position:absolute;top:0;z-index:0}.splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,.splide--fade>.splide__track>.splide__list>.splide__slide.is-active{opacity:1;position:relative;z-index:1}.splide--rtl{direction:rtl}.splide--ttb.is-active>.splide__slider>.splide__track>.splide__list,.splide--ttb.is-active>.splide__track>.splide__list{display:block}.splide__arrow{-ms-flex-align:center;align-items:center;background:#ccc;border:0;border-radius:50%;cursor:pointer;display:-ms-flexbox;display:flex;height:2em;-ms-flex-pack:center;justify-content:center;opacity:.7;padding:0;position:absolute;top:50%;transform:translateY(-50%);width:2em;z-index:1}.splide__arrow svg{fill:#000;height:1.2em;width:1.2em}.splide__arrow:hover{opacity:.9}.splide__arrow:focus{outline:none}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide__pagination{bottom:.5em;left:0;padding:0 1em;position:absolute;right:0;z-index:1}.splide__pagination__page{background:#ccc;border:0;border-radius:50%;display:inline-block;height:8px;margin:3px;opacity:.7;padding:0;transition:transform .2s linear;width:8px}.splide__pagination__page.is-active{background:#fff;transform:scale(1.4)}.splide__pagination__page:hover{cursor:pointer;opacity:.9}.splide__pagination__page:focus{outline:none}.splide__progress__bar{background:#ccc;height:3px}.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide,.splide--nav>.splide__track>.splide__list>.splide__slide{border:3px solid transparent;cursor:pointer}.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,.splide--nav>.splide__track>.splide__list>.splide__slide.is-active{border:3px solid #000}.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide:focus,.splide--nav>.splide__track>.splide__list>.splide__slide:focus{outline:none}.splide--rtl>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev{left:auto;right:1em}.splide--rtl>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:scaleX(1)}.splide--rtl>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next{left:1em;right:auto}.splide--rtl>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next svg{transform:scaleX(-1)}.splide--ttb>.splide__arrows .splide__arrow,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow,.splide--ttb>.splide__track>.splide__arrows .splide__arrow{left:50%;transform:translate(-50%)}.splide--ttb>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev{top:1em}.splide--ttb>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:rotate(-90deg)}.splide--ttb>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next{bottom:1em;top:auto}.splide--ttb>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next svg{transform:rotate(90deg)}.splide--ttb>.splide__pagination,.splide--ttb>.splide__slider>.splide__pagination{bottom:0;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;left:auto;padding:1em 0;right:.5em;top:0}
.yotpo.testimonials {
    display: none;
}