.main-carousel {
	padding: 4em 0;
}
.main-carousel:focus-visible {
	box-shadow: none;
}
.carousel-cell {
	width: 60%; /* full width */
	margin-right: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: opacity 0.2 linear 0;
}
.carousel-cell__wrap {
	display: flex;
	justify-content: space-around;
	gap: 3em;
}
.carousel__text-wrap {
	flex: 0 0 60%;
}

.carousel-cell:not(.is-selected) {
	transition: opacity 0.2 linear 0;
	opacity: 0.2;
}

.carousel__text-content {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 1em;
	background-color: #fff;
	padding: 2em;
	border: 2px solid var(--gradient-base-background-2);
	border-radius: 10px;
}
.carousel__title {
	margin-bottom: 0;
}
.carousel__subtitle {
	font-style: italic;
}
.carousel__image {
	border-radius: 10px;
}