.main-carousel:focus-visible {
	box-shadow: none;
}
.carousel-cell {
  width: 60%; /* full width */
  margin-right: 20rem;
	  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-cell__wrap {
	display: flex;
	justify-content: space-around;
}
.slideshow__text-wrap,
.carousel-cell__image {
	flex: 0 0 50%;
}
.carousel-cell:not(.is-selected) {
  opacity: 0.2;
}